* {
    margin: 0;
}

nav {
    border: 2px solid black;
    height: 2.8em;
    width: 99.8%;
    padding-top: 1em;
    background-color: black;
    position: fixed;
}

#navbar {
    width: 50%;
    display: flex;
    height: 62px;
    position: fixed;
    top: -0.6px;
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    font-size: 1.4em;
    padding-top: 17px;
    color: rgb(185, 18, 18);
    flex: 1;
}

a:hover {
    background-color: rgba(78, 60, 60, 0.712);
}

.footer {
    position: relative;
    bottom: 0;
    width: 99.8%;
    background-color: black;
    height: 4em;
}

h3 {
    margin: 1em;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
    color: rgb(185, 18, 18);
    position: absolute;
    bottom: -1px;
}

iframe {
    padding-top: 30px;
}

